<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Módulos <span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li>
       <%= link_to 'Municipios', municipios_path %>
     </li>

     <li>
       <%= link_to 'Regiones', regiones_path %>
     </li>
   </ul>
</li>
